@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Medium weight (e.g., 500) */
@font-face {
    font-family: 'Lora';
    src: url('/public/fonts/Lora-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Cg';
    src: url('/public/fonts/CormorantGaramond-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/public/fonts/Oswald-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Bold weight (e.g., 700) */
@font-face {
    font-family: 'Cg';
    src: url('/public/fonts/CormorantGaramond-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairD';
    src: url('/public/fonts/PlayfairDisplay-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


.font-pf {
    font-family: 'PlayfairD';
}

.font-oswald {
    font-family: 'Oswald';
}

.font-lora {
    font-family: 'Lora';
}

.font-cg {
    font-family: 'Cg';
}